.statistics {
  width: 500px;
  background-color: white;
}

.headerh1 {
  text-transform: uppercase;
  text-align: center;
  background-color: white;
  font-size: 40px;
  padding: 30px;
}

.list {
  display: flex;
  list-style-type: none;
}

.litem {
  color: white;
  width: 100px;
}

.label {
  padding: 10px 0px;
  text-align: center;
  font-size: 15px;
}

.perc {
  padding-bottom: 15px;
  text-align: center;
  font-size: 25px;
}
